.container-login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f3f6f9;
  padding: 5vh;
}

.container-login-innerBox {
  margin: auto;
  width: 90%;
  max-width: 400px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 5%;
}

.container-login-innerBox-headings {
  text-align: center;
  margin-bottom: 20px;
}

.container-innerBox-headings h3 {
  font-family: Montserrat, sans-serif;
  color: #6691e7;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.container-login-innerBox-headings p {
  margin: 0;
  color: #898c9b;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label,
.login-form input,
.login-form .form-input-password {
  margin-bottom: 10px;
}

.login-form-input-password {
  display: flex;
  align-items: center;
}

.login-form-input-password input {
  width: 92%;
}

.login-inputClass {
  padding: 2%;
}

.login-form-button-div button {
  width: 100%;
  padding: 10px;
  background-color: #13c56b;
  border-radius: 5px;
  border: 0;
  color: white;
  cursor: pointer;
  margin-top: 2vh;
}

.footer {
  text-align: center;
  margin-top: 20px;
}

.login-inputErrors {
  border: 1px solid #ed5e5e;
}

.login-errors {
  font-size: 0.875em;
  margin-bottom: 10px;
  color: #ed5e5e;
}

/* Media Queries */


/* Styles for screens smaller than 600px */
@media (max-width: 600px)and (orientation:portrait) {
  .login-form label{
    font-size: small;
  }
  .login-form input{
    font-size: small;
  }

  .login-form-button-div button{
    font-size: small;
  }
}

/* Styles for screens between 600px and 900px */
@media (min-width: 600px) and (max-width: 900px) {
  /* Your CSS rules for medium screens here */
}

/* Styles for screens larger than 900px */
@media (min-width: 900px) {
  /* Your CSS rules for large screens here */
}
