.container {
  background-color: #f9f9f9;
  box-shadow: 0 0 2px #dcdcdc;
  padding: 1.5vh;
  border-radius: 2px  #333333;
}

.flex-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.content {
  display: flex;
  align-items: center;
  align-items: center;
  width: 25%;
  cursor: pointer;
}

.content label{
  color: #495057;
  font-weight: 600;
  font-family: sans-serif;
  font-size: 14px;
  width: 35%;
}


.content p{
  color: #818492;
    font-weight: 500;
    margin-left: 2vh;
    width: 25%;
    font-size: smaller;
}

.downloadIcon {
  color: #53d593;
}

.content svg {
  height: 5vh;
  width: 5vh;
  margin-left: 1vh;
}

table {
  width: 100%;
  overflow-y: scroll;
}

tr {
  text-align: left;
}

.downloadCSV {
  text-decoration: none;
  color: #333333;
  letter-spacing: 1px;
}
